*{
  border: 2px solid black
}
body {
  background: blanchedalmond;
}
/**container div */
.container {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
}
/**main to seprate from footer... */
main {
  flex-grow:3;
}
header, footer  {
  flex-grow: 1;
}
/**@media */

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }/**}container */
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
  }
}/**ending for @media [for less confusion] */